# 커피샵 전처리 - 매장추출 (Part 1)

* 상권업종중분류코드 Q12
* 상호명 지점명 시도명 시군구 도로명주소

* (스타벅스 + 커피빈) / (이디야 + 뺵다방)

* 서울데이터 - 스타벅스, 커피빈, 이디야, 빽다방 추출 후 전국 데이터를 추출 후 저장

In [1]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [2]:
from google.colab import drive
drive.mount('/content/mnt')

Drive already mounted at /content/mnt; to attempt to forcibly remount, call drive.mount("/content/mnt", force_remount=True).

In [3]:
data_folder = '/content/mnt/MyDrive/data/소상공인시장진흥공단'

In [4]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
  print(file)

/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단/소상공인_매장추출.csv

In [61]:
df_seoul = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv', encoding='utf-8')
print(df_seoul.shape)
df_seoul.head(1)

(316078, 39)

     상가업소번호  상호명  지점명 상권업종대분류코드 상권업종대분류명  ...  동정보 층정보 호정보          경도         위도
0  17174175  비지트  NaN         Q       음식  ...  NaN   1 NaN  126.991394  37.488375

[1 rows x 39 columns]

In [62]:
df_seoul = df_seoul[df_seoul.상권업종중분류코드 == 'Q12']
print(df_seoul.shape)
df_seoul.head(2)

(20832, 39)

       상가업소번호    상호명          지점명 상권업종대분류코드  ... 층정보 호정보          경도         위도
28   20659878    커피빈  코리아대학로대명거리점         Q  ...   3 NaN  127.000171  37.583149
111  20676428  요거프레소          쌍문점         Q  ...   1 NaN  127.034746  37.658728

[2 rows x 39 columns]

In [63]:
df_seoul = df_seoul[df_seoul['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_seoul.shape

(1212, 39)

In [64]:
df_seoul = df_seoul[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_seoul.shape

(1212, 5)

In [65]:
df_kw = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv', encoding='utf-8')
df_gg = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv', encoding='utf-8')
df_kn = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv', encoding='utf-8')
df_kb = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv', encoding='utf-8')
df_gj = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv', encoding='utf-8')
df_dg = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv', encoding='utf-8')
df_dj = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv', encoding='utf-8')
df_bs = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv', encoding='utf-8')
df_sj = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv', encoding='utf-8')
df_us = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv', encoding='utf-8')
df_ic = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv', encoding='utf-8')
df_jn = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv', encoding='utf-8')
df_jb = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv', encoding='utf-8')
df_jj = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv', encoding='utf-8')
df_cn = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv', encoding='utf-8')
df_cb = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv', encoding='utf-8')

In [66]:
df_kw = df_kw[df_kw.상권업종중분류코드 == 'Q12']
df_gg = df_gg[df_gg.상권업종중분류코드 == 'Q12']
df_kn = df_kn[df_kn.상권업종중분류코드 == 'Q12']
df_kb = df_kb[df_kb.상권업종중분류코드 == 'Q12']
df_gj = df_gj[df_gj.상권업종중분류코드 == 'Q12']
df_dg = df_dg[df_dg.상권업종중분류코드 == 'Q12']
df_dj = df_dj[df_dj.상권업종중분류코드 == 'Q12']
df_bs = df_bs[df_bs.상권업종중분류코드 == 'Q12']
df_sj = df_sj[df_sj.상권업종중분류코드 == 'Q12']
df_us = df_us[df_us.상권업종중분류코드 == 'Q12']
df_ic = df_ic[df_ic.상권업종중분류코드 == 'Q12']
df_jn = df_jn[df_jn.상권업종중분류코드 == 'Q12']
df_jb = df_jb[df_jb.상권업종중분류코드 == 'Q12']
df_jj = df_jj[df_jj.상권업종중분류코드 == 'Q12']
df_cn = df_cn[df_cn.상권업종중분류코드 == 'Q12']
df_cb = df_cb[df_cb.상권업종중분류코드 == 'Q12']

In [67]:
df_kw = df_kw[df_kw['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_gg = df_gg[df_gg['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_kn = df_kn[df_kn['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_kb = df_kb[df_kb['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_gj = df_gj[df_gj['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_dg = df_dg[df_dg['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_dj = df_dj[df_dj['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_bs = df_bs[df_bs['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_sj = df_sj[df_sj['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_us = df_us[df_us['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_ic = df_ic[df_ic['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_jn = df_jn[df_jn['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_jb = df_jb[df_jb['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_jj = df_jj[df_jj['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_cn = df_cn[df_cn['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]
df_cb = df_cb[df_cb['상호명'].str.contains("이디야|커피빈|빽다방|스타벅스")]

In [68]:
df_kw = df_kw[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_gg = df_gg[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_kn = df_kn[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_kb = df_kb[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_gj = df_gj[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_dg = df_dg[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_dj = df_dj[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_bs = df_bs[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_sj = df_sj[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_us = df_us[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_ic = df_ic[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_jn = df_jn[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_jb = df_jb[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_jj = df_jj[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_cn = df_cn[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]
df_cb = df_cb[['상호명', '지점명', '시도명', '시군구명', '도로명주소']]

In [69]:
print(df_seoul.shape)
print(df_kw.shape)
print(df_gg.shape)
print(df_kn.shape)
print(df_kb.shape)
print(df_gj.shape)
print(df_dg.shape)
print(df_dj.shape)
print(df_bs.shape)
print(df_sj.shape)
print(df_us.shape)
print(df_ic.shape)
print(df_jb.shape)
print(df_jj.shape)
print(df_cn.shape)
print(df_cb.shape)

(1212, 5)
(142, 5)
(1148, 5)
(223, 5)
(184, 5)
(133, 5)
(162, 5)
(122, 5)
(261, 5)
(33, 5)
(115, 5)
(250, 5)
(113, 5)
(58, 5)
(143, 5)
(119, 5)

In [70]:
df_cb.head(2)

            상호명    지점명   시도명     시군구명                 도로명주소
1362  스타벅스청주성화점  청주성화점  충청북도  청주시 서원구    충청북도 청주시 서원구 복대로 5
3531      이디야커피  충북대소점  충청북도      음성군  충청북도 음성군 대소면 대금로 528

In [71]:
result = pd.concat([df_seoul, df_kw, df_gg, df_kn, df_kb, df_gj, df_dg, df_dj, df_bs, df_sj, df_us, df_ic, df_jn, df_jb, df_jj, df_cn, df_cb])
print(result.shape)

(4542, 5)

In [72]:
result.to_csv(f'{data_folder}/소상공인_매장추출.csv', encoding='utf-8', index=False)

In [79]:
result.tail(20)

            상호명      지점명   시도명     시군구명                   도로명주소
75835     이디야커피  충북옥천중앙점  충청북도      옥천군     충청북도 옥천군 옥천읍 삼양로 88
75882     이디야커피  청주파크자이점  충청북도  청주시 흥덕구  충청북도 청주시 흥덕구 청향로5번길 36
76842     이디야커피    충주문화점  충청북도      충주시      충청북도 충주시 중원대로 3364
77366  이디야드림플러스      NaN  충청북도  청주시 흥덕구  충청북도 청주시 흥덕구 2순환로 1233
77506       커피빈     파비뇽점  충청북도  청주시 흥덕구    충청북도 청주시 흥덕구 월명로 212
79073      스타벅스    충주연수점  충청북도      충주시       충청북도 충주시 계명대로 227
79112     이디야커피    제천하소점  충청북도      제천시   충청북도 제천시 용두대로15길 18-3
79357      스타벅스    충주성서점  충청북도      충주시        충청북도 충주시 예성로 151
79615     이디야커피    가경중앙점  충청북도  청주시 흥덕구    충청북도 청주시 흥덕구 가경로 127
80638     이디야커피     충북대점  충청북도  청주시 서원구   충청북도 청주시 서원구 내수동로 116
80985     이디야커피      NaN  충청북도      증평군  충청북도 증평군 증평읍 충청대로 1756
81932       빽다방     서원대점  충청북도  청주시 서원구  충청북도 청주시 서원구 서원남로 50-5
83140     이디야커피    제천왕암점  충청북도      제천시       충청북도 제천시 소새로7길 10
83160     이디야커피   호암신도시점  충청북도      충주시      충청북도 충주시 호암수청2로 25
83276       빽다방      진천점  충청북도      진천군     충청북도 진천군 진천읍 상산로 73
83369       빽다방    청주강서점  충청북도  청주시 흥덕구    충청북도 청주시 흥덕구 강서로 115
83532     이디야커피    청주용정점  충청북도  청주시 상당구   충청북도 청주시 상당구 용정로 44-1
83593     이디야커피  충주한스타워점  충청북도      충주시       충청북도 충주시 국원대로 107
83757       빽다방      NaN  충청북도      증평군    충청북도 증평군 증평읍 중앙로 197
84354      스타벅스      NaN  충청북도      음성군     충청북도 음성군 원남면 보천로 65

In [18]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib > /dev/null
# 런타임 다시시작

In [74]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')

In [75]:
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
plt.rc('font', family='NanumBarunGothic')